<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.AdminRoleDao">

    <!-- 定义全局查询的SQL变量语句 -->
    <sql id="searchCondition">
        <where>
            <if test="name != null">`name` LIKE "%"#{name}"%"</if>
            <if test="role != null">`role` = #{role}</if>
            <if test="permissions != null">permissions LIKE "%"#{permissions}"%"</if>
            <if test="permit != null">FIND_IN_SET(#{permit}, permissions)</if>
        </where>
    </sql>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[
        `id`,
        `name`,
        `role`,
        `permissions`,
        `description`
        ]]>
	</sql>

    <select id="search" parameterType="map" resultMap="adminroleMap">
        SELECT
        <include refid="columns"/>
        FROM admin_role
        <include refid="searchCondition"/>
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1)
        FROM admin_role
        <include refid="searchCondition"/>
    </select>

    <select id="find" parameterType="long" resultMap="adminroleMap">
        SELECT
        <include refid="columns"/>
        FROM admin_role
        WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.lld360.cnc.model.AdminRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            admin_role (
                name,
                role,
                permissions,
                description
            ) VALUES (
            #{name},
            #{role},
            #{permissions},
            #{description}
        )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.AdminRole">
        UPDATE admin_role
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="role != null">`role` = #{role},</if>
            <if test="permissions != null">permissions = #{permissions},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM admin_role
        WHERE id = #{id}
    </delete>


    <!-- 结果集mapper -->
    <resultMap id="adminroleMap" type="com.lld360.cnc.model.AdminRole">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="permissions" column="permissions"/>
        <result property="description" column="description"/>
    </resultMap>

</mapper> 
