<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.AdminPermissionDao">

    <!-- 定义全局查询的SQL变量语句 -->
    <sql id="searchCondition">
        <where>
            <if test="name != null">`name` LIKE "%"#{name}"%"</if>
            <if test="permit != null">permit LIKE "%"#{permit}"%"</if>
        </where>
    </sql>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[
        `id`,
        `name`,
        `permit`,
        `description`
        ]]>
	</sql>

    <select id="search" parameterType="map" resultMap="adminpermissionMap">
        SELECT
        <include refid="columns"/>
        FROM admin_permission
        <include refid="searchCondition"/>
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1)
        FROM admin_permission
        <include refid="searchCondition"/>
    </select>

    <select id="find" parameterType="long" resultMap="adminpermissionMap">
        SELECT
        <include refid="columns"/>
        FROM admin_permission
        WHERE id = #{id}
    </select>

    <select id="findByPermit" parameterType="string" resultMap="adminpermissionMap">
        SELECT
        <include refid="columns"/>
        FROM admin_permission
        WHERE permit = #{permit}
    </select>

    <insert id="create" parameterType="com.lld360.cnc.model.AdminPermission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            admin_permission (
                name,
                permit,
                description
            ) VALUES (
            #{name},
            #{permit},
            #{description}
        )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.AdminPermission">
        UPDATE admin_permission
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="permit != null">permit = #{permit},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM admin_permission
        WHERE id = #{id}
    </delete>


    <!-- 结果集mapper -->
    <resultMap id="adminpermissionMap" type="com.lld360.cnc.model.AdminPermission">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="permit" column="permit"/>
        <result property="description" column="description"/>
    </resultMap>

</mapper> 
