<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.CommodityDao">

    <sql id="dtoColumns">
        <![CDATA[
          c.*,
          cc.`id` cId,
          cc.`name` cName,
          cc.`icon` cIcon,
          cc.`description` cDescription,
          cc.`sorting` cSorting,
          cc.`create_time` cCreateTime
        ]]>
    </sql>


    <insert id="create" parameterType="com.lld360.cnc.model.Commodity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `commodity` (
          `name`,
          `price`,
          `type`,
          `new_degree`,
          `cover`,
          `area`,
          `user_id`,
          `phone`,
          `weixin`,
          `information`,
          `views`,
          `category_id`,
          `create_time`,
          `state`
        )
        VALUES
          (
            #{name},
            #{price},
            #{type},
            #{newDegree},
            #{cover},
            #{area},
            #{userId},
            #{phone},
            #{weixin},
            #{information},
            #{views},
            #{categoryId},
            #{createTime},
            #{state}
          );
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.Commodity">
        UPDATE `commodity`
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="price != null">`price` = #{price},</if>
            <if test="newDegree != null">`new_degree` = #{newDegree},</if>
            <if test="cover != null">`cover` = #{cover},</if>
            <if test="area != null">`area` = #{area},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="weixin != null">`weixin` = #{weixin},</if>
            <if test="information != null">`information` = #{information},</if>
            <if test="views != null">`views` = #{views},</if>
            <if test="categoryId != null">`category_id` = #{categoryId},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="state != null">`state` = #{state},</if>
        </set>
        WHERE `id` = #{id};
    </update>

    <update id="updateCategory">
        UPDATE `commodity`
        SET `category_id` = #{categoryId}
        WHERE `id` = #{commodityId};
    </update>

    <update id="updateState">
        UPDATE `commodity`
        SET `state` = #{state}
        WHERE `id` = #{commodityId};
    </update>

    <sql id="searchConnection">
        <where>
            c.`state` != 9
            <if test="content != null">AND c.name LIKE "%"#{content}"%"</if>
            <if test="type != null">AND c.`type` = #{type}</if>
            <!--<if test="state != null">AND c.`state` = #{state}</if>-->
            <if test="newDegree != null">AND c.`new_degree` = #{newDegree}</if>
        </where>
    </sql>

    <select id="search" parameterType="map" resultMap="commodityDtoMap">
        SELECT
        <include refid="dtoColumns"/>,
        IFNULL(u.`name`, u.`nickname`) userName
        FROM `commodity` c
        LEFT JOIN `commodity_category` cc ON c.`category_id` = cc.`id`
        LEFT JOIN `user` u ON c.`user_id` = u.`id`
        <include refid="searchConnection"/>
        <if test="orderBy == null or orderBy ==''">ORDER BY `create_time` DESC </if>
        <if test="orderBy != null">ORDER BY ${orderBy} ${sort}</if>
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM `commodity` c
        LEFT JOIN `commodity_category` cc ON c.`category_id` = cc.`id`
        <include refid="searchConnection"/>
    </select>

    <select id="getDtoById" parameterType="long" resultMap="commodityDtoMap">
        SELECT
        <include refid="dtoColumns"/>,
        IFNULL(u.`name`, u.`nickname`) userName,
        ci.`id` imgId,
        ci.`path` imgPath
        FROM `commodity` c
        LEFT JOIN `commodity_category` cc ON c.`category_id` = cc.`id`
        LEFT JOIN `commodity_img` ci ON ci.`commodity_id` = c.`id`
        LEFT JOIN `user` u ON c.`user_id` = u.`id`
        WHERE c.`id` = #{commodityId} AND c.`state` != 9
    </select>

    <update id="addViews" parameterType="long">
        UPDATE `commodity` c
        SET c.`views` = c.`views` + 1
        WHERE c.`id` = #{id}
    </update>

    <resultMap id="commodityMap" type="com.lld360.cnc.model.Commodity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="newDegree" column="new_degree"/>
        <result property="cover" column="cover"/>
        <result property="area" column="area"/>
        <result property="type" column="type"/>
        <result property="price" column="price"/>
        <result property="userId" column="user_id"/>
        <result property="phone" column="phone"/>
        <result property="weixin" column="weixin"/>
        <result property="information" column="information"/>
        <result property="views" column="views"/>
        <result property="categoryId" column="category_id"/>
        <result property="createTime" column="create_time"/>
        <result property="state" column="state"/>
    </resultMap>

    <resultMap id="commodityDtoMap" extends="commodityMap" type="com.lld360.cnc.dto.CommodityDto">
        <result property="userName" column="userName"/>
        <result property="areaName" column="areaName"/>
        <association property="commodityCategory" javaType="com.lld360.cnc.model.CommodityCategory">
            <id property="id" column="category_id"/>
            <result property="name" column="cName"/>
            <result property="icon" column="cIcon"/>
            <result property="description" column="cDescription"/>
            <result property="sorting" column="cSorting"/>
            <result property="createTime" column="cCreateTime"/>
        </association>
        <collection property="commodityImgs" ofType="com.lld360.cnc.model.CommodityImg">
            <id property="id" column="imgId"/>
            <result property="commodityId" column="id"/>
            <result property="path" column="imgPath"/>
        </collection>
    </resultMap>

</mapper>