<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.CourseDao">

    <!-- 定义全局查询的SQL变量语句 -->
    <sql id="searchCondition">
        <where>
			<if test="title != null">AND title like "%"#{title}"%"</if>
			<if test="imgUrl != null">AND img_url like "%"#{imgUrl}"%"</if>
			<if test="content != null">AND content like "%"#{content}"%"</if>
			<if test="publishTime != null">AND publish_time = #{publishTime}</if>
			<if test="visits != null">AND visits = #{visits}</if>
			<if test="sequence != null">AND sequence = #{sequence}</if>
			<if test="status != null">AND status = #{status}</if>
            <if test="type != null">AND type = #{type}</if>
        </where>
    </sql>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        	id ,
        	title ,
        	img_url ,
        	content ,
        	publish_time ,
        	visits ,
        	sequence ,
        	status ,
        	`type`
	    ]]>
	</sql>

    <sql id="searchTitleCondition">
        <where>
            <if test="title != null">AND title REGEXP #{title}</if>
            <if test="status != null">AND status = #{status}</if>
        </where>
    </sql>

    <select id="search" parameterType="map" resultMap="courseMap">
        SELECT
        <include refid="columns"/>
        FROM  course
        <include refid="searchCondition"/>
        ORDER BY <if test="orderBy != null">visits DESC ,</if> publish_time DESC
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1)
        FROM course
        <include refid="searchCondition"/>
    </select>

    <select id="countTitle" parameterType="map" resultType="long">
        SELECT count(1)
        FROM course
        where title = #{title}
        <if test="id != null">AND id != #{id}</if>
    </select>

    <select id="searchByTitle" parameterType="map" resultMap="courseMap">
        SELECT
        <include refid="columns"/>
        FROM  course
        <include refid="searchTitleCondition"/>
        ORDER BY publish_time DESC
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="find" parameterType="long" resultMap="courseMap">
        SELECT
        <include refid="columns"/>
        FROM  course
        WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.lld360.cnc.model.Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        course (
        	title ,
        	img_url ,
        	content ,
        	publish_time ,
        	visits ,
        	sequence ,
        	status ,
        	`type`
        ) VALUES (
        	#{title} ,
        	#{imgUrl} ,
        	#{content} ,
        	#{publishTime} ,
        	#{visits} ,
        	#{sequence} ,
        	#{status} ,
        	#{type}
        )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.Course">
        UPDATE course
        <set>
			<if test="title != null">title = #{title}, </if>
			<if test="imgUrl != null">img_url = #{imgUrl}, </if>
			<if test="content != null">content = #{content}, </if>
			<if test="publishTime != null">publish_time = #{publishTime}, </if>
			<if test="visits != null">visits = #{visits}, </if>
			<if test="sequence != null">sequence = #{sequence}, </if>
			<if test="status != null">status = #{status}, </if>
            <if test="type != null">type = #{type}, </if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM course WHERE id = #{id}
    </delete>

    <update id="updateImage">
        UPDATE `course`
        SET img_url = #{relativeFile}
        WHERE id = #{id}
    </update>
    
    <select id="searchViews" parameterType="map" resultType="long">
        SELECT IFNULL(SUM(`visits`), 0)
        FROM `course`
    </select>

    <!-- 结果集mapper -->
    <resultMap id="courseMap" type="com.lld360.cnc.model.Course">
		 <result property="id" column="id"/>
		 <result property="title" column="title"/>
		 <result property="imgUrl" column="img_url"/>
		 <result property="content" column="content"/>
		 <result property="publishTime" column="publish_time"/>
		 <result property="visits" column="visits"/>
		 <result property="sequence" column="sequence"/>
		 <result property="status" column="status"/>
        <result property="type" column="type"/>
    </resultMap>

</mapper> 
