<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.PostsDao">

    <insert id="create" parameterType="com.lld360.cnc.model.Posts" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            posts (
                title,
                user_id,
                `subject`,
                summary,
                content,
                category_id,
                create_time,
                update_time,
                state,
                sorting
            ) VALUES (
                #{title},
                #{userId},
                #{subject},
                #{summary},
                #{content},
                #{categoryId},
                #{createTime},
                #{updateTime},
                #{state},
                #{sorting}
            )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.Posts">
        UPDATE posts
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="subject != null">`subject` = #{subject},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="content != null">content = #{content},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="state != null">state = #{state},</if>
            <if test="sorting != null">sorting = #{sorting},</if>
        </set>
        WHERE id = #{id};
    </update>

    <update id="updateState">
        UPDATE posts
        SET state = #{state}
        WHERE id = #{id}
    </update>

    <update id="deletePosts">
        UPDATE posts
        SET state = 0
        WHERE id IN
        <foreach collection="array" item="id"  open="(" separator="," close=")">#{id}</foreach>
    </update>

    <insert id="addViews">
        UPDATE posts
        SET views = views + 1
        WHERE id = #{id}
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM posts
        WHERE id = #{id}
    </delete>

    <!-- 定义全局查询的SQL变量语句 -->
    <sql id="searchCondition">
        <where>
            <if test="title != null">AND title like "%"#{title}"%"</if>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="subject != null">AND `subject` like "%"#{subject}"%"</if>
            <if test="categoryId != null">AND category_id = #{categoryId}</if>
            <if test="createTime != null">AND create_time &gt; #{createTime}</if>
            <if test="updateTime != null">AND update_time &gt; #{updateTime}</if>
            <if test="state != null">AND state = #{state}</if>
            <if test="searchTime != null">AND DATE(create_time) = DATE(#{searchTime})</if>
        </where>
    </sql>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[
            p.id ,
            p.title,
            p.user_id,
            p.`subject`,
            p.summary,
            p.content,
            p.category_id,
            p.create_time,
            p.update_time,
            p.views,
            p.state,
            p.sorting
        ]]>
	</sql>

    <select id="find" parameterType="long" resultMap="postsMap">
        SELECT
        <include refid="columns"/>,
        pr.`posts_id`, pr.`type`, pr.`amount`, pr.`state` rewardState, pr.`comment_id`, pr.`finish_time`
        FROM posts p
        LEFT JOIN `posts_reward` pr ON p.`id` = pr.`posts_id`
        WHERE id = #{id}
    </select>

    <select id="findPostsInfo" resultMap="postsInfosMap" parameterType="long">
        SELECT
            p.id,
            p.title,
            p.user_id,
            p.subject,
            p.summary,
            p.content,
            p.category_id,
            p.create_time,
            p.update_time,
            p.views,
            p.state,
            p.sorting,
            c.`name` categoryName,
            u.`nickname` AS userNickname,
            u.avatar     AS userAvatar,
            pr.`posts_id`, pr.`type`, pr.`amount`, pr.`state` rewardState, pr.`comment_id`, pr.`finish_time`
        FROM posts p
        LEFT JOIN `user` u ON p.`user_id` = u.`id`
        LEFT JOIN `posts_reward` pr ON p.`id` = pr.`posts_id`
        LEFT JOIN `posts_category` c ON p.`category_id` = c.`id`
        WHERE p.id = #{id}
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1)
        FROM posts
        <include refid="searchCondition"/>
    </select>

    <select id="search" parameterType="map" resultMap="postsMap">
        SELECT
        <include refid="columns"/>
        FROM posts p
        <include refid="searchCondition"/>
        ORDER BY p.sorting DESC, create_time DESC
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>


    <sql id="searchPostsInfosCondition">
        <where>
            <if test="key != null">AND (p.title like "%"#{key}"%" OR p.subject LIKE "%"#{key}"%")</if>
            <if test="title != null">AND p.title like "%"#{title}"%"</if>
            <if test="userId != null">AND p.user_id = #{userId}</if>
            <if test="subject != null">AND p.`subject` like "%"#{subject}"%"</if>
            <if test="createTime != null">AND p.create_time &gt; #{createTime}</if>
            <if test="updateTime != null">AND p.update_time &gt; #{updateTime}</if>
            <if test="state != null">AND p.state = #{state}</if>
            <if test="categoryId != null">AND p.`category_id` = #{categoryId}</if>
        </where>
    </sql>

    <select id="countPostsInfos" parameterType="map" resultType="long">
        SELECT count(1)
        FROM posts p
        <include refid="searchPostsInfosCondition"/>
    </select>

    <select id="findPostsInfos" resultMap="postsInfosMap">
        SELECT
        p.id, p.title, p.user_id, p.subject, p.summary, p.category_id, p.create_time, p.update_time, p.views, p.state, p.sorting, p.content,
        IFNULL(u.`nickname`, u.name) AS userNickname, u.avatar userAvatar, COUNT(pc.id) AS commentsNum,c.`name` categoryName,
        pr.`posts_id`, pr.`type`, pr.`amount`, pr.`state` rewardState, pr.`comment_id`, pr.`finish_time`
        FROM posts p
        LEFT JOIN `user` u ON p.`user_id` = u.`id`
        LEFT JOIN posts_comment pc ON pc.`posts_id` = p.`id`
        LEFT JOIN `posts_reward` pr ON p.`id` = pr.`posts_id`
        LEFT JOIN `posts_category` c ON p.`category_id` = c.`id`
        <include refid="searchPostsInfosCondition"/>
        GROUP BY p.id
        ORDER BY <if test="orderBy != null and orderBy != ''">p.sorting DESC, </if> p.create_time DESC
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="searchViews" parameterType="map" resultType="long">
        SELECT IFNULL(SUM(views),0)
        FROM `posts`
    </select>
    
    <update id="zeroPostsByCategoryId" parameterType="integer">
        UPDATE `posts` p
        SET p.`sorting` = 0
        WHERE p.`category_id` = #{categoryId}
    </update>

    <update id="stickPosts" parameterType="long">
        UPDATE `posts` p
        SET p.`sorting` = 10
        WHERE p.`id` = #{postId}
    </update>

    <update id="changeCategory">
        UPDATE `posts` p
        SET p.`category_id` = #{categoryId}
        WHERE p.`id` = #{postsId}
    </update>

    <!-- 结果集mapper -->
    <resultMap id="postsMap" type="com.lld360.cnc.model.Posts">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="userId" column="user_id"/>
        <result property="subject" column="subject"/>
        <result property="summary" column="summary"/>
        <result property="content" column="content"/>
        <result property="categoryId" column="category_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <result property="state" column="state"/>
        <result property="sorting" column="sorting"/>
        <association property="postsReward" javaType="com.lld360.cnc.model.PostsReward">
            <id property="postsId" column="posts_id"/>
            <result property="type" column="type"/>
            <result property="amount" column="amount"/>
            <result property="state" column="rewardState"/>
            <result property="commentId" column="commentId"/>
            <result property="finishTime" column="finishTime"/>
        </association>
    </resultMap>

    <resultMap id="postsInfosMap" type="com.lld360.cnc.dto.PostsInfos">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="userId" column="user_id"/>
        <result property="subject" column="subject"/>
        <result property="summary" column="summary"/>
        <result property="content" column="content"/>
        <result property="categoryId" column="category_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <result property="state" column="state"/>
        <result property="sorting" column="sorting"/>
        <result property="userNickname" column="userNickname"/>
        <result property="userAvatar" column="userAvatar"/>
        <result property="commentsNum" column="commentsNum"/>
        <result property="categoryName" column="categoryName"/>
        <association property="postsReward" javaType="com.lld360.cnc.model.PostsReward">
            <id property="postsId" column="posts_id"/>
            <result property="type" column="type"/>
            <result property="amount" column="amount"/>
            <result property="state" column="rewardState"/>
            <result property="commentId" column="comment_id"/>
            <result property="finishTime" column="finish_time"/>
        </association>
    </resultMap>

</mapper> 
