<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.SoftCategoryDao">

<!-- 定义全局查询的SQL变量语句 -->
    <sql id="searchCondition">
        <where>
            <if test="fid != null">fid = #{fid}</if>
            <if test="name != null">`name` like "%"#{name}"%"</if>
        </where>
    </sql>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[
        f.id, f.fid, f.icon, f.name, f.description,
        c.id cid,
        c.fid cfid,
        c.icon cicon,
        c.name cname,
        c.`description` cdescription
        ]]>
	</sql>

    <select id="find" parameterType="int" resultMap="softCategoryMap">
        SELECT
        <include refid="columns"/>
        FROM soft_category f
        LEFT JOIN soft_category c ON f.id=c.fid
        WHERE f.id = #{id}
    </select>

    <select id="findAll" resultMap="softCategoryMap">
        SELECT
        <include refid="columns"/>
        FROM
        soft_category f
        LEFT JOIN soft_category c ON f.`id` = c.fid
        WHERE f.fid IS NULL
    </select>

    <select id="findAllCategory" resultType="com.lld360.cnc.model.SoftCategory">
        SELECT
        <include refid="columns"/>
        FROM
        soft_category
    </select>


    <select id="findByName" resultMap="softCategoryMap" parameterType="string">
        SELECT *
        FROM soft_category
        WHERE name = #{name}
    </select>

    <select id="findByFid" resultType="com.lld360.cnc.model.SoftCategory" parameterType="java.lang.Integer">
        SELECT *
        FROM soft_category
        <where>
            <if test="_parameter == null">fid IS NULL</if>
            <if test="_parameter != null">fid = #{fid}</if>
        </where>
    </select>

    <select id="findSelfAndAllParents" resultType="com.lld360.cnc.model.SoftCategory" parameterType="int">
        SELECT t2.*
        FROM (
                 SELECT
                     @r              AS _id,
                     (SELECT @r := fid
                      FROM soft_category
                      WHERE id = @r) AS fid
                 FROM
                     (SELECT @r := #{id}) vars, soft_category
                 WHERE @r IS NOT NULL) t1
            JOIN soft_category t2 ON t1._id = t2.id
        ORDER BY t1._id ASC
    </select>

    <insert id="create" parameterType="com.lld360.cnc.model.SoftCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            soft_category (
                fid,
                icon,
                `name`,
                description
            ) VALUES (
            #{fid},
            #{icon},
            #{name},
            #{description}
        )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.SoftCategory">
        UPDATE soft_category
        <set>
            <if test="fid != null">fid = #{fid},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM soft_category
        WHERE id = #{id}
    </delete>


    <resultMap id="softCategoryMap" type="com.lld360.cnc.model.SoftCategory">
        <id column="id" property="id"/>
        <result column="fid" property="fid"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <collection property="children" ofType="com.lld360.cnc.model.SoftCategory">
            <id column="cid" property="id"/>
            <result column="cfid" property="fid"/>
            <result column="cicon" property="icon"/>
            <result column="cname" property="name"/>
            <result column="cdescription" property="description"/>
        </collection>
    </resultMap>

</mapper>