<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lld360.cnc.repository.UserMemberDao">

    <insert id="create" parameterType="com.lld360.cnc.model.UserMember" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO user_member(user_id,type,start_time,update_time,end_time,state) VALUES (#{userId},#{type},#{startTime},#{updateTime},#{endTime},#{state})
    </insert>

    <select id="searchByUserId" parameterType="long" resultType="com.lld360.cnc.model.UserMember">
      SELECT
        um.*
      FROM
        `user_member` um
      WHERE um.`state` = 1
        AND um.`end_time` > NOW()
        AND um.`user_id` = #{userId}
    </select>

    <select id="get" resultType="com.lld360.cnc.model.UserMember">
        SELECT
            um.`id`,
            um.`user_id` userId,
            um.`type`,
            um.`start_time` startTime,
            um.`update_time` updateTime,
            um.`end_time` endTime,
            um.`state`,
            um.`description`
        FROM `user_member` um
        WHERE um.user_id = #{userId} AND um.state = 1 AND um.type = #{type}
    </select>

    <update id="update" parameterType="com.lld360.cnc.model.UserMember">
        UPDATE user_member
        <set>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="state != null">`state` = #{state},</if>
        </set>
        WHERE id = #{id}
    </update>

    <sql id="searchCondition">
        <where>
            um.`end_time` &gt;= now()
            <if test="key != null">AND (u.mobile LIKE "%"#{key}"%" OR u.name LIKE "%"#{key}"%" OR u.nickname LIKE "%"#{key}"%")</if>
            <if test="mobile != null">AND u.mobile LIKE "%"#{mobile}"%"</if>
            <if test="platform != null">AND (platform = #{platform}<if test="platform == 'Mobile'"> OR platform = 'Qrcode'</if>)</if>
            <if test="beginTime != null">AND u.create_time &gt;= #{beginTime}</if>
            <if test="endTime != null">AND u.create_time &lt;= #{endTime}</if>
            <if test="searchTime != null">AND DATE(u.create_time)= DATE(#{searchTime})</if>
        </where>
    </sql>

    <select id="searchMembers" parameterType="map" resultType="com.lld360.cnc.dto.UserDto">
        SELECT DISTINCT
        u.id,
        u.name,
        u.mobile,
        u.password,
        u.nickname,
        u.mail_address mailAddress,
        u.avatar,
        u.qq,
        u.address,
        u.description,
        u.create_time createTime,
        u.last_login lastLogin,
        u.state,
        us.total_score totalScore,
        us.total_in totalIn,
        us.total_out totalOut,
        qq.`nickname` qqName,
        wx.`nickname` weixinName,
        up.`total_point` totalPoint,
        um.`start_time` memberStartTime,
        um.`end_time` memberEndTime
        FROM `user` u
        JOIN `user_member` um ON u.`id` = um.`user_id` AND um.`state` = 1
        LEFT JOIN `user_score` us ON us.user_id = u.id
        LEFT JOIN `user_point` up ON up.user_id = u.id
        LEFT JOIN `third_account` qq ON qq.`user_id` = u.`id` AND qq.`type` = 1
        LEFT JOIN `third_account` wx ON wx.`user_id` = u.`id` AND wx.`type` = 2
        <include refid="searchCondition"/>
        <if test="sortBy == 'total_score'">ORDER BY us.${sortBy} ${sortType}</if>
        <if test="sortBy == 'update_time'">ORDER BY um.`update_time`  ${sortType}</if>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="membersCount" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM `user` u
        JOIN `user_member` um ON u.`id` = um.`user_id`
        LEFT JOIN `user_score` us ON us.user_id = u.id
        LEFT JOIN `user_point` up ON up.user_id = u.id
        LEFT JOIN `third_account` qq ON qq.`user_id` = u.`id` AND qq.`type` = 1
        LEFT JOIN `third_account` wx ON wx.`user_id` = u.`id` AND wx.`type` = 2
        <include refid="searchCondition"/>
    </select>


</mapper>