<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.VodCategoryDao">

    <sql id="columns">
        <![CDATA[
        f.id, f.fid, f.icon, f.name, f.description,
        c.id cid,
        c.fid cfid,
        c.icon cicon,
        c.name cname,
        c.`description` cdescription
        ]]>
    </sql>

    <insert id="create" parameterType="com.lld360.cnc.model.VodCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        vod_category (
        fid,
        icon,
        `name`,
        description
        ) VALUES (
        #{fid},
        #{icon},
        #{name},
        #{description}
        )
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM vod_category
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.lld360.cnc.model.VodCategory">
        UPDATE vod_category
        <set>
            <if test="fid != null">fid = #{fid},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        WHERE id = #{id};
    </update>

    <select id="findAllC1" resultMap="VodCategoryMap">
        SELECT
        <include refid="columns"/>
        FROM
        vod_category f
        LEFT JOIN vod_category c ON f.`id` = c.fid
        WHERE f.fid IS NULL
    </select>

    <select id="findById" parameterType="int" resultMap="VodCategoryMap">
        SELECT
        <include refid="columns"/>
        FROM vod_category f
        LEFT JOIN vod_category c ON f.id=c.fid
        WHERE f.id = #{id}
    </select>

    <select id="findByFid" resultType="com.lld360.cnc.model.VodCategory" parameterType="java.lang.Integer">
        SELECT *
        FROM vod_category
        <where>
            <if test="_parameter == null">fid IS NULL</if>
            <if test="_parameter != null">fid = #{fid}</if>
        </where>
    </select>

    <resultMap id="VodCategoryMap" type="com.lld360.cnc.model.VodCategory">
        <id column="id" property="id"/>
        <result column="fid" property="fid"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <collection property="children" ofType="com.lld360.cnc.model.VodCategory">
            <id column="cid" property="id"/>
            <result column="cfid" property="fid"/>
            <result column="cicon" property="icon"/>
            <result column="cname" property="name"/>
            <result column="cdescription" property="description"/>
        </collection>
    </resultMap>
</mapper>