<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.VodSectionDao">

    <!-- 定义全局查询的SQL变量语句 -->
    <sql id="searchCondition">
        <where>
            <if test="chapterId != null">chapter_id = #{chapterId}</if>
            <if test="vodName != null">vod_name LIKE "%"#{vodName}"%"</if>
            <if test="name != null">`name` LIKE "%"#{name}"%"</if>
            <if test="sorting != null">sorting = #{sorting}</if>
            <if test="mediaId != null">media_id = #{mediaId}</if>
            <if test="width != null">width = #{width}</if>
            <if test="height != null">height = #{height}</if>
            <if test="bitrate != null">bitrate = #{bitrate}</if>
            <if test="size != null">size = #{size}</if>
            <if test="ext != null">ext = #{ext}</if>
            <if test="free != null">free = #{free}</if>
        </where>
    </sql>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[
        id,
        chapter_id,
        vod_name,
        `name`,
        sorting,
        media_id,
        duration,
        width,
        height,
        bitrate,
        size,
        cover,
        url,
        trans_url,
        ext,
        free,
        state
        ]]>
	</sql>

    <select id="search" parameterType="map" resultMap="vodsectionMap">
        SELECT
        <include refid="columns"/>
        FROM vod_section
        <include refid="searchCondition"/>
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1)
        FROM vod_section
        <include refid="searchCondition"/>
    </select>

    <select id="find" parameterType="long" resultMap="vodsectionMap">
        SELECT
        <include refid="columns"/>
        FROM vod_section
        WHERE id = #{id}
    </select>

    <!--根据视频集ID（和视频节状态）查询视频列表-->
    <select id="findByVolume" resultType="com.lld360.cnc.model.VodSection">
        SELECT
        s.id,
        s.chapter_id,
        s.vod_name,
        s.`name`,
        s.sorting,
        s.media_id,
        s.duration,
        s.width,
        s.height,
        s.bitrate,
        s.size,
        s.cover,
        s.url,
        s.trans_url,
        s.ext,
        s.free,
        s.state
        FROM vod_section s
        JOIN vod_chapters c ON s.chapter_id = c.id
        JOIN vod_volumes v ON c.volume_id = v.id
        WHERE v.id = #{volumeId}
        <if test="state != null">
            AND s.state = #{state}
        </if>
    </select>

    <select id="findByState" resultType="com.lld360.cnc.model.VodSection">
        SELECT
        <include refid="columns"/>
        FROM vod_section
        WHERE state = #{state}
    </select>

    <insert id="create" parameterType="com.lld360.cnc.model.VodSection" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            vod_section (
                chapter_id,
                vod_name,
                `name`,
                sorting,
                media_id,
                duration,
                width,
                height,
                bitrate,
                size,
                cover,
                url,
                trans_url,
                ext,
                free,
                state
            ) VALUES (
            #{chapterId},
            #{vodName},
            #{name},
            #{sorting},
            #{mediaId},
            #{duration},
            #{width},
            #{height},
            #{bitrate},
            #{size},
            #{cover},
            #{url},
            #{transUrl},
            #{ext},
            #{free},
            #{state}
        )
    </insert>

    <update id="update" parameterType="com.lld360.cnc.model.VodSection">
        UPDATE vod_section
        <set>
            <if test="chapterId != null">chapter_id = #{chapterId},</if>
            <if test="vodName != null">vod_name = #{vodName},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="sorting != null">sorting = #{sorting},</if>
            <if test="mediaId != null">media_id = #{mediaId},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="width != null">width = #{width},</if>
            <if test="height != null">height = #{height},</if>
            <if test="bitrate != null">bitrate = #{bitrate},</if>
            <if test="size != null">size = #{size},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="url != null">url = #{url},</if>
            <if test="transUrl != null">trans_url = #{transUrl},</if>
            <if test="ext != null">ext = #{ext},</if>
            <if test="free != null">free = #{free},</if>
            <if test="state != null">state = #{state},</if>
        </set>
        WHERE id = #{id};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM vod_section
        WHERE id = #{id}
    </delete>

    <delete id="deleteByNotBelongChapter">
        DELETE FROM vod_section WHERE
        <if test="ids != null and ids.length &gt; 0">
            <foreach collection="ids" item="id" open="id NOT IN (" separator="," close=") AND ">#{id}</foreach>
        </if>
        chapter_id = #{chapterId}
    </delete>

    <select id="getFirstSectionByVolumesId" parameterType="long" resultMap="vodsectionMap">
        SELECT s.*
        FROM `vod_section` s
        LEFT JOIN `vod_chapters` c ON s.`chapter_id` = c.`id`
        LEFT JOIN `vod_volumes` v ON c.`volume_id` = v.`id`
        WHERE v.`id` = #{volumesId}
        ORDER BY c.`sorting` ASC, s.`sorting` ASC
        LIMIT 1 OFFSET 0
    </select>


    <!-- 结果集mapper -->
    <resultMap id="vodsectionMap" type="com.lld360.cnc.model.VodSection">
        <result property="id" column="id"/>
        <result property="chapterId" column="chapter_id"/>
        <result property="vodName" column="vod_name"/>
        <result property="name" column="name"/>
        <result property="sorting" column="sorting"/>
        <result property="mediaId" column="media_id"/>
        <result property="duration" column="duration"/>
        <result property="width" column="width"/>
        <result property="height" column="height"/>
        <result property="bitrate" column="bitrate"/>
        <result property="size" column="size"/>
        <result property="cover" column="cover"/>
        <result property="url" column="url"/>
        <result property="transUrl" column="trans_url"/>
        <result property="ext" column="ext"/>
        <result property="free" column="free"/>
        <result property="state" column="state"/>
    </resultMap>

</mapper> 
