<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lld360.cnc.repository.VodTagDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        id,
        `name`,
        `icon`,
        `description`,
        create_time createTime,
        update_time updateTime
        ]]>
    </sql>

    <sql id="searchCondition">
        <where>
            <if test="tagId != null">tag_id = #{tagId}</if>
            <if test="volumeId != null">tag_id = #{tagId}</if>
        </where>
    </sql>

    <select id="getAllTag" resultType="com.lld360.cnc.model.VodTag">
        SELECT <include refid="columns"/>
        FROM `vod_tag`
    </select>

    <select id="getVodTag" parameterType="int" resultType="com.lld360.cnc.model.VodTag">
        SELECT
        <include refid="columns"/>
        FROM `vod_tag`
        LEFT JOIN `vod_x_tag` xt ON xt.`tag_id` = `id`
        WHERE xt.`volum_id` = #{volumeId}
    </select>

    <delete id="delVodTag" parameterType="int">
        DELETE FROM `vod_x_tag` WHERE `volume_id` = #{volumeId}
    </delete>

    <insert id="addVodTag">
        INSERT INTO `vod_x_tag` (`volume_id`, `tag_id`)
        VALUES (#{volumeId}, #{tagId}) ;
    </insert>

</mapper>