<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">后台管理</strong> /
        <small>管理员列表</small>
    </div>
</div>

<div class="am-g" ng-controller="adminListCtrl">
    <div class="am-u-sm-12 am-u-md-9">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <a href="#/admin/0" ui-sref="adminDetail({id:0})" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            &nbsp;
        </div>
    </div>

    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <th>ID</th>
                <th>管理员</th>
                <th>账号</th>
                <th>角色</th>
                <th>上次登录</th>
                <th>账号状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in data" ng-class="{'am-warning': a.status !== 1}">
                <td>{{a.id}}</td>
                <td><a href="#/admin/{{a.id}}">{{a.name}}</a></td>
                <td>{{a.account}}</td>
                <td>{{a.adminRole.name}}</td>
                <td>{{a.lastLogin | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{status[a.status || 1]}}</td>
                <td>
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary" ui-sref="adminDetail({id:a.id})" style="color: #00a2d4">
                                <span class="am-icon-pencil-square-o"></span> 编辑
                            </a>
                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" ng-click="delete(a)">
                                <span class="am-icon-trash-o"></span> 删除
                            </button>
                            <!--<button class="am-btn am-btn-default am-btn-xs am-text-warning am-hide-sm-only" ng-if="a.status !== 2" ng-click="freezeAdmin(a)">-->
                                <!--<span class="am-icon-close"></span> 冻结-->
                            <!--</button>-->
                            <button class="am-btn am-btn-default am-btn-xs am-text-warning am-hide-sm-only" ng-if="a.status === 2" ng-click="unfreeze(a)">
                                <span class="am-icon-sun-o"></span> 解冻
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>