<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">后台管理</strong> /
        <small>管理员详情</small>
    </div>
</div>

<div class="am-g" ng-controller="adminDetailCtrl">
    <div class="am-u-sm-12 am-padding-bottom-lg">
        <div class="am-tab-panel am-fade am-active am-in" id="tab2">
            <form class="am-form" name="userForm">
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        管理员帐号
                    </div>
                    <div class="am-u-sm-8 am-u-md-5">
                        <input type="text" class="am-input-sm" ng-model="data.account" ng-disabled="setStyle(userId)" onkeyup="value=value.replace(/[\W]/g,'')" maxlength="30">
                    </div>
                    <div class="am-hide-sm-only am-u-md-5">*必填，不可重复</div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        管理员密码
                    </div>
                    <div class="am-u-sm-8 am-u-md-5">
                        <input type="password" class="am-input-sm" ng-model="data.rePassword" placeholder="请输入6-20位密码" maxlength="20">
                    </div>
                    <div class="am-hide-sm-only am-u-md-5" ng-if="userId == 0">*必填 请输入6-20位密码</div>
                    <div class="am-hide-sm-only am-u-md-5" ng-if="userId != 0">如果填写此项则会更改管理员密码</div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        姓名
                    </div>
                    <div class="am-u-sm-8 am-u-md-5">
                        <input type="text" class="am-input-sm" ng-model="data.name" maxlength="30" required>
                    </div>
                    <div class="am-hide-sm-only am-u-md-5">管理员名称</div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        角色
                    </div>
                    <div class="am-u-sm-8 am-u-md-5">
                        <span ng-repeat="r in roles" style="margin-left: 10px;">
                            <input type="radio" name="roleId" ng-model="data.adminRole.id" value="{{r.id}}">{{r.name}}
                        </span>
                    </div>
                    <div class="am-hide-sm-only am-u-md-5">管理员角色选择</div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-md-offset-2">
                        <button type="button" class="am-btn am-btn-primary am-btn-xs" ng-click="save()">提交保存</button>
                        <a class="am-btn am-btn-warning am-btn-xs" href="#/adminList">返回列表</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>