<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">后台管理</strong> /
        <small>角色详情</small>
    </div>
</div>

<div class="am-g" ng-controller="roleDetailCtrl">
    <div class="am-u-sm-12 am-padding-bottom-lg">
        <div class="am-tab-panel am-fade am-active am-in" id="tab2">
            <form class="am-form" name="userForm">
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        角色代码
                    </div>
                    <div class="am-u-sm-8 am-u-md-5">
                        <input type="text" class="am-input-sm" ng-model="data.role" readonly>
                    </div>
                    <div class="am-hide-sm-only am-u-md-5">&nbsp;</div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        角色名
                    </div>
                    <div class="am-u-sm-8 am-u-md-5">
                        <input type="text" class="am-input-sm" ng-model="data.name" readonly>
                    </div>
                    <div class="am-hide-sm-only am-u-md-5">&nbsp;</div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        已有权限
                    </div>
                    <div class="am-u-sm-8 am-u-md-5">
                        <button class="am-btn am-btn-success am-btn-xs" style="border-radius: 3px;margin-left: 10px;" ng-repeat="a in permissionsName">{{a}}</button>
                    </div>
                    <div class="am-hide-sm-only am-u-md-5">&nbsp;</div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        描述
                    </div>
                    <div class="am-u-sm-8 am-u-md-5">
                        <input type="text" class="am-input-sm" ng-model="data.description" readonly>
                    </div>
                    <div class="am-hide-sm-only am-u-md-5">&nbsp;</div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-md-offset-2">
                        <a class="am-btn am-btn-primary am-btn-xs" href="#/roleUpdate/{{data.id}}">修改角色</a>
                        <a class="am-btn am-btn-warning am-btn-xs" href="#/roleList">返回列表</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>