<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">商品信息管理</strong> /
        <small>商品列表</small>
    </div>
</div>

<div class="am-g" ng-controller="commodityListCtrl">
    <div class="am-u-sm-12 am-u-md-4">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <!--<button type="button" class="am-btn am-btn-default"  ng-click="deleteSome()">-->
                    <!--<span class="am-icon-trash-o"></span> 删除</button>-->
                &nbsp;
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-8">
        <div class="am-form am-text-right">
            <input type="text" style="width: auto; display: inline-block;" ng-model="searchKey" ng-keypress="onSearchKeyPress($event)">
            <button class="am-btn am-btn-default" type="button" ng-click="doSearch()">搜索</button>
        </div>
    </div>

    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <!--<th class="table-check"><input type="checkbox" ng-model="checkAll" ng-click="choseAll($event)"></th>-->
                <th>ID</th>
                <th>商品名</th>
                <th>发布人</th>
                <th>发布类型</th>
                <th>发布时间</th>
                <th>分类</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in data.content" ng-class="{'error': a.state === 9}">
                <!--<td><input type="checkbox" ng-checked="checkAll"  ng-click="chose($event,a.id)"></td>-->
                <td>{{a.id}}</td>
                <td><a href="#/commodity/{{a.id}}" title="{{a.name}}">{{a.name}}</a></td>
                <td>{{a.userName}}</td>
                <td>{{type[a.type]}}</td>
                <td class="am-hide-sm-only">{{a.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{a.commodityCategory.name || '-'}}</td>
                <td>
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="#/commodity/{{a.id}}">
                                <span class="am-icon-pencil-square-o"></span> 详情
                            </a>
                            <!--<button class="am-btn am-btn-default am-btn-xs am-text-warning am-hide-sm-only" ng-click="changeCate(a)">-->
                                <!--<span class="am-icon-circle-o"></span> 分类-->
                            <!--</button>-->
                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" ng-if="a.state != 9" ng-click="delete(a)">
                                <span class="am-icon-trash-o"></span> 删除
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <div class="am-fl">

            </div>
            <div class="am-fr">
                <div style="display: inline-block; margin-right: 10px">
                    <small>共搜索到</small> <span style="color: #f08080;">{{data.totalElements}}</span> <small>条数据</small>
                </div>
                <div style="display: inline-block;">
                    <ng-pager page-change="getPage(page)" page-data="data" items="11"></ng-pager>
                </div>
            </div>
        </div>
    </div>
</div>