<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品信息</strong> /
                <small>商品详情</small>
            </div>
        </div>

        <hr/>

        <div class="am-g" ng-controller="commodityDetailCtrl">

            <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
                <!--<div class="am-panel am-panel-default">-->
                    <!--<div class="am-panel-bd">-->
                        <!--<div class="user-info">-->
                            <!--<label class="am-form-label">封面 :</label>-->
                            <!--<img class="am-img-circle am-img-thumbnail" ng-src="{{data.cover ? '/files/' + data.cover : 'assets/images/mengmengda.jpg'}}" alt=""/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="am-panel am-panel-default">
                    <div class="am-panel-bd">
                        <div class="user-info">
                            <label class="am-form-label">商品图片 :</label>
                            <ul class="am-slides">
                                <li ng-repeat="img in data.commodityImgs" >
                                    <img ng-src="{{img.path ? '/files/' + img.path : 'assets/images/mengmengda.jpg'}}" class="am-img-circle am-img-thumbnail">
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">商品名 / Name</label>
                        <div class="am-u-sm-9">
                            <input id="user-name" type="text" value="{{data.name}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-price" class="am-u-sm-3 am-form-label">价格 / Price</label>
                        <div class="am-u-sm-9">
                            <input id="user-price" type="text" value="{{data.price}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-type" class="am-u-sm-3 am-form-label">类型 / Type</label>
                        <div class="am-u-sm-9">
                            <input id="user-type" type="text" value="{{type[data.type]}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-newDegree" class="am-u-sm-3 am-form-label">新旧度 / Degree</label>
                        <div class="am-u-sm-9">
                            <input id="user-newDegree" type="text" value="{{degree[data.newDegree]}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-area" class="am-u-sm-3 am-form-label">区域 / Area</label>
                        <div class="am-u-sm-9">
                            <input id="user-area" type="text" value="{{data.area}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-user" class="am-u-sm-3 am-form-label">发布者 / User</label>
                        <div class="am-u-sm-9">
                            <input id="user-user" type="text" value="{{data.userName}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-phone" class="am-u-sm-3 am-form-label">电话 / Phone</label>
                        <div class="am-u-sm-9">
                            <input id="user-phone" type="text" value="{{data.phone}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-weixin" class="am-u-sm-3 am-form-label">微信 / Weixin</label>
                        <div class="am-u-sm-9">
                            <input id="user-weixin" type="text" value="{{data.weixin}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-createTime" class="am-u-sm-3 am-form-label">发布时间 / CreateTime</label>
                        <div class="am-u-sm-9">
                            <input id="user-createTime" type="datetime" value="{{data.createTime | date:'yyyy-MM-dd HH:mm'}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-weixin" class="am-u-sm-3 am-form-label">分类 / Category</label>
                        <div class="am-u-sm-9">
                            <input id="user-category" type="text" value="{{data.commodityCategory.name}}" readonly>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-information" class="am-u-sm-3 am-form-label">详细信息 / Information</label>
                        <div class="am-u-sm-9">
                            <textarea id="user-information" readonly>{{data.information|trusthtml}}</textarea>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <footer class="admin-content-footer"></footer>

</div>