<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">文库管理</strong> /
        <small>文档列表</small>
    </div>
</div>

<div class="am-g" ng-controller="docListCtrl">
    <div class="am-u-sm-12 am-u-md-4">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                &nbsp;
                <a href="#/doc/0" ui-sref="docDetail({id:0})" class="am-btn am-btn-default" ng-if="adminPermissions.indexOf('doc:w') != -1 || admin.isRoot"><span class="am-icon-plus"></span> 新增</a>
                <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-8">
        <div class="am-form am-text-right">
            <label for="docStateSelect">文档状态</label>
            <select id="docStateSelect" style="width: 20%; display: inline-block;" ng-model="params.state">
                <option value="0">不限</option>
                <option value="1">正常</option>
                <option value="2">处理中</option>
                <option value="3">处理失败</option>
                <option value="4">待审核</option>
                <option value="5">审核未通过</option>
                <option value="6">无法解析</option>
                <option value="9">版主已删除</option>
            </select>
            <input type="text" style="width: auto; display: inline-block;" ng-model="searchKey" ng-keypress="onSearchKeyPress($event)">
            <button class="am-btn am-btn-default" type="button" ng-click="doSearch()">搜索</button>
        </div>
    </div>

    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <th class="table-check"><input type="checkbox" ng-model="checkAll"></th>
                <th>ID</th>
                <th>标题</th>
                <th>下载花费(牛人币)</th>
                <th>文件信息</th>
                <th>上传者</th>
                <th><a href="javascript:void(0);" ng-click="sortBy('views')">浏览量</a></th>
                <th><a href="javascript:void(0);" ng-click="sortBy('downloads')">下载量</a></th>
                <th><a href="javascript:void(0);" ng-click="sortBy('createTime')">创建时间</a></th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in data.content">
                <td><input type="checkbox" ng-checked="checkAll" value="{{a.id}}"></td>
                <td>{{a.id}}</td>
                <td><a href="#/doc/{{a.id}}" style="display:block; width: 300px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" title="{{a.summary}}">{{a.title}}</a></td>
                <td>{{a.costScore}}</td>
                <td>
                    <a href="/files/{{a.filePath}}" ng-show="{{a.fileSize}}" target="_blank">{{a.fileName}}【{{a.fileSize | filesize}}】</a>
                    <span ng-show="{{!a.fileName}}">无</span>
                </td>
                <td class="am-hide-sm-only">{{a.user.name}}</td>
                <td class="am-hide-sm-only">{{a.views}}</td>
                <td class="am-hide-sm-only">{{a.downloads}}</td>
                <td class="am-hide-sm-only">{{a.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
                <td title="{{a.state}}">
                    <span class="am-badge am-radius am-badge-{{docStateColors[a.state] || 'danger'}}">{{docStates[a.state] || '版主已删除'}}</span>
                </td>
                <td>
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary" ui-sref="docDetail({id:a.id})" ng-if="adminPermissions.indexOf('doc:w') != -1 || admin.isRoot">
                                <span class="am-icon-pencil-square-o"></span> 编辑
                            </a>
                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" ng-click="delete(a)" ng-if="adminPermissions.indexOf('doc:w') != -1 || admin.isRoot">
                                <span class="am-icon-trash-o"></span> 硬删除
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <div class="am-fl">
                <button class="am-btn am-btn-primary" ng-click="reviewsChecked()" ng-if="adminPermissions.indexOf('doc:w') != -1 || admin.isRoot">批量审核通过</button>
            </div>
            <div class="am-fr">
                <div style="display: inline-block; margin-right: 10px">
                    <small>共搜索到</small> <font color="#f08080">{{data.totalElements}}</font> <small>条数据</small>
                </div>
                <div style="display: inline-block;">
                    <ng-pager page-change="getPage(page)" page-data="data" items="11"></ng-pager>
                </div>
            </div>
        </div>
    </div>
</div>