<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">帖子管理</strong> /
        <small>帖子详情</small>
    </div>
</div>

<div class="am-g" ng-controller="postsDetailCtrl">
    <div class="am-u-sm-12 am-padding-bottom-lg">
        <div class="am-tab-panel am-fade am-active am-in">
            <h1>{{data.title}} <small ng-if="data.subject"> - {{data.subject}}</small></h1>
            <p><small>{{data.userNickname}} - {{data.createTime | date:'yyyy-MM-dd HH:mm'}}  <span style="color: orangered;">悬赏: {{data.postsReward.amount}} {{rewardType[data.postsReward.type]}}</span></small></p>
            <blockquote ng-if="data.summary">{{data.summary}}</blockquote>
            <hr>
            <div ng-bind-html="data.content|trusthtml"></div>
        </div>
        <div class="am-margin-top-lg">
            <a class="am-btn am-btn-secondary am-btn-xs" ui-sref="postsList()">返回列表</a>
            <button class="am-btn am-btn-danger am-btn-xs" ng-if="adminPermissions.indexOf('posts:w') != -1 || admin.isRoot" ng-click="delete()">删除帖子</button>
            <button ng-if="needChose" class="am-btn am-btn-warning am-btn-xs" ng-click="returnReward()">返还悬赏</button>
        </div>

        <h1>评论
            <small ng-if="needChose" class="am-text-secondary">(待推荐)</small>
            <small ng-if="!needChose" class="am-text-success">({{rewardState[data.postsReward.state]}})</small>
        </h1>
        <hr>
        <article class="am-comment am-comment-success am-margin-bottom" ng-if="bestComment">
            <a href="#user/{{bestComment.userId}}">
                <img class="am-comment-avatar" alt="" ng-src="{{bestComment.userAvatar ? '/files/' + bestComment.userAvatar : 'http://www.d6sk.com/assets/images/default_avatar.png'}}">
            </a>
            <div class="am-comment-main">
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <a href="#user/{{bestComment.userId}}" class="am-comment-author">{{ bestComment.userNickname }}</a>
                        评论于 <time datetime="">{{ bestComment.createTime | date:'yyyy-MM-dd HH:mm' }}</time>
                    </div>
                    <div class="am-comment-actions" style="color: #00B83F">
                        <span class="am-btn am-btn-sm" ng-click=""><i class="am-icon-check"></i>最佳答案</span>
                    </div>
                </header>
                <div class="am-comment-bd">{{ bestComment.content }}</div>
            </div>
        </article>
        <article class="am-comment am-margin-bottom" ng-repeat="c in comments.content">
            <a href="#user/{{c.userId}}">
                <img class="am-comment-avatar" alt="" ng-src="{{c.userAvatar ? '/files/' + c.userAvatar : 'http://www.d6sk.com/assets/images/default_avatar.png'}}">
            </a>
            <div class="am-comment-main">
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <a href="#user/{{c.userId}}" class="am-comment-author">{{ c.userNickname }}</a>
                        评论于 <time datetime="">{{ c.createTime | date:'yyyy-MM-dd HH:mm' }}</time>
                    </div>

                    <div ng-if="needChose" class="am-comment-actions">
                        <span class="am-btn am-btn-sm" ng-click="choseBestCom(c)"><i class="am-icon-check"></i></span>
                    </div>
                    <div class="am-comment-actions">
                        <span class="am-btn am-btn-sm" ng-click="deleteComment(c)"><i class="am-icon-close"></i></span>
                    </div>

                </header>

                <div class="am-comment-bd">{{ c.content }}</div>
            </div>
        </article>
        <div class="am-fr">
            <ng-pager page-change="getCommentsPage(page)" page-data="comments" items="9"></ng-pager>
        </div>
    </div>
</div>