<script type="text/javascript" src="scripts/components/My97DatePicker/WdatePicker.js"></script>
<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">用户管理</strong> /
        <small>用户登录列表</small>
    </div>
</div>

<div class="am-g" ng-controller="loginHistoryCtrl">
    <div class="am-u-sm-12 am-u-md-9">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <input type="text" class="text-input" placeholder="起始日期" ng-model="beginTime" id="beginDate"
                       onclick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})"
                       onchange=""/>
                至 <input type="text" class="text-input" placeholder="截止日期" ng-model="endTime" id="endDate"
                         onclick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'beginDate\',{d:+1})}',maxDate:'%y-%M-%d'})"
                         onchange=""/>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" ng-model="searchKey" ng-keypress="onSearchKeyPress($event)">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button" ng-click="doSearch()">搜索</button>
          </span>
        </div>
    </div>

    <div class="am-u-sm-12">
        <table class="am-table table-main">
            <thead>
            <tr>
                <th>用户</th>
                <th>昵称</th>
                <th>最后登录时间</th>
                <th>PC(次)</th>
                <th>手机(次)</th>
                <th><a href="javascript:void(0);" ng-click="sortBy('totle')">合计</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in data.content">
                <td><a href="#/user/{{a.userId}}">{{a.mobile}}</a></td>
                <td>{{a.userNickname||'-'}}</td>
                <td>{{a.lastLogin || '-' | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{a.pcLoginNum || '-' | zero2t}}</td>
                <td>{{a.mobileLoginNum || '-' | zero2t}}</td>
                <td>{{a.pcLoginNum + a.mobileLoginNum}}</td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <div>
            <div class="am-fl">

            </div>
            <div class="am-fr">
                <ng-pager page-change="getPage(page)" page-data="data" items="11"></ng-pager>
            </div>
        </div>
    </div>
</div>