<script type="text/javascript" src="scripts/components/My97DatePicker/WdatePicker.js"></script>

<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">提现管理</strong> /
        <small>用户提现管理</small>
    </div>
</div>

<div class="am-g" ng-controller="userWithdrawCtrl">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-input-group am-input-group-sm">
            <!--<input type="text" class="am-form-field" ng-model="searchKey">-->
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <input class="text-input" placeholder="起始日期" value="start" type="text" ng-model="beginTime"  id="startDatetime" onClick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endDatetime\')||\'%y-%M-%d\'}'})"  onChange=""  >
                    至 <input class="text-input" placeholder="截止日期"  value="end" type="text" ng-model="endTime"  id="endDatetime" onClick="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDatetime\')}',maxDate:'%y-%M-%d'})" onChange=""  >
                </div>
            </div>

        </div>
    </div>

    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-input-group am-text-right am-form" style="margin-right:20px; float: right" >
            <label for="accountStatusSelect">审核状态:</label>
            <select id="accountStatusSelect"  style="width: auto; display: inline-block;" ng-model="tradeStatus">
                <option value="">所有</option>
                <option value="1">审核中</option>
                <option value="2">处理中</option>
                <option value="3">提现成功</option>
                <option value="4">提现失败</option>
                <option value="5">审核失败</option>
                <option value="6">处理失败</option>
            </select>
            <input type="text"  style="width: auto; display: inline-block;"  ng-model="searchKey" ng-keypress="onSearchKeyPress($event)"><button class="am-btn am-btn-default" type="button" ng-click="doSearch()">搜索</button>
            </div>
    </div>
    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>申请日期</th>
                <th>提现账户</th>
                <th>金额/牛人币</th>
                <th>提现状态</th>
                <th>备注</th>
                <th>失败原因</th>
                <th>操作日期</th>
                <th>成功日期</th>
                <th>交易号</th>
                <th>支付类型</th>
                <td>操作</td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="a in data.content">
                <td>{{a.id}}</td>
                <td>{{a.user.name}}</td>
                <td>{{a.user.mobile}}</td>
                <td class="am-hide-sm-only">{{a.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{a.userAccount.account}}</td>
                <td>{{a.tradeAmount}}元 /{{a.tradeScore}}牛人币 </td>
                <td ng-if="a.tradeStatus==1">审核中</td>
                <td ng-if="a.tradeStatus==2">处理中</td>
                <td ng-if="a.tradeStatus==3">提现成功</td>
                <td ng-if="a.tradeStatus==4">提现失败</td>
                <td ng-if="a.tradeStatus==5">审核失败</td>
                <td ng-if="a.tradeStatus==6">处理失败</td>
                <td>{{a.tradeRemark}}</td>
                <td>{{a.failReason}}</td>
                <td class="am-hide-sm-only" >{{a.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="am-hide-sm-only" >{{a.successTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{a.innerTradeNo}}</td>
                <td ng-if="a.userAccount.accountType==1">支付宝</td>
                <td ng-if="a.userAccount.accountType==2">银行</td>
                <td >
                    <div class="am-btn-toolbar" ng-if="a.tradeStatus==1">
                        <div class="am-btn-group am-btn-group-xs">
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="doSuccess({id:a.id})">
                                </span> 通过
                            </a>
                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"  ng-click="reject({id:a.id})">
                                </span> 不通过
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <div>
            <div class="am-fl">

            </div>
            <div class="am-fr">
                <ng-pager page-change="getPage(page)" page-data="data" items="11"></ng-pager>
            </div>
        </div>
    </div>
</div>

