<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">用户管理</strong> /
        <small>用户反馈</small>
    </div>
</div>

<div class="am-g" ng-controller="userSuggestCtrl">
    <div class="am-u-sm-12 am-u-md-4">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default" ng-click="deleteSome()">
                    <span class="am-icon-trash-o"></span> 批量删除
                </button>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-8">
        <div class="am-form am-text-right">
            <label for="replyStateSelect">是否回复:</label>
            <select id="replyStateSelect" style="width: 20%; display: inline-block;" ng-model="params.replyState">
                <option value="">所有</option>
                <option value="yes">已回复</option>
                <option value="no">未回复</option>
            </select>
            <input type="text" style="width: auto; display: inline-block;" ng-model="searchKey" ng-keypress="onSearchKeyPress($event)">
            <button class="am-btn am-btn-default" type="button" ng-click="doSearch()">搜索</button>
        </div>
    </div>

    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <th class="table-check"><input type="checkbox" ng-model="checkAll" ng-click="choseAll($event)"></th>
                <th>ID</th>
                <th>用户</th>
                <th>用户电话</th>
                <th>反馈时间</th>
                <th>反馈内容</th>
                <th>回复内容</th>
                <th>回复时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in data.content">
                <td><input type="checkbox" ng-checked="checkAll" ng-click="chose($event,a.id)"></td>
                <td>{{a.id}}</td>
                <td><a href="#/user/{{a.userId}}">{{a.uNickname}}</a></td>
                <td>{{a.uMobile}}</td>
                <td class="am-hide-sm-only">{{a.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <div style="width: 300px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{a.content | html2str}}</div>
                </td>
                <td>
                    <div style="width: 200px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{a.reply || '-'}}</div>
                </td>
                <td class="am-hide-sm-only">{{a.replyTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary"
                               ui-sref="userSuggestDetail({id:a.id})">
                                <span class="am-icon-pencil-square-o"></span> 详情
                            </a>
                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                    ng-click="delete(a)">
                                <span class="am-icon-trash-o"></span> 删除
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <div class="am-fl">

            </div>
            <div class="am-fr">
                <ng-pager page-change="getPage(page)" page-data="data" items="11"></ng-pager>
            </div>
        </div>
    </div>
</div>