<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">用户管理</strong> /
        <small>区域合伙人</small>
    </div>
</div>

<div class="am-g" ng-controller="userParterCtrl">
    <div class="am-u-sm-12 am-u-md-9">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" ng-model="searchKey" ng-keypress="onSearchKeyPress($event)">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button" ng-click="doSearch()">搜索</button>
          </span>
        </div>
    </div>

    <div class="am-u-sm-12">
        <table class="am-table table-main">
            <thead>
            <tr>
                <th>ID</th>
                <th>手机号</th>
                <th>姓名</th>
                <th>昵称</th>
                <th>QQ</th>
                <th>微信</th>
                <th>邮箱</th>
                <th><a href="javascript:void(0);" ng-click="sortBy('total_score')">牛人币</a></th>
                <th>积分</th>
                <th>注册时间</th>
                <th>合伙时间</th>
                <th>直邀人数</th>
                <th>区域人数</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in data.content" ng-class="{'error': a.state != 1}">
                <td>{{a.id}}</td>
                <td><a href="#/user/{{a.id}}">{{a.mobile}}</a></td>
                <td>{{a.name}}</td>
                <td>{{a.nickname||'-'}}</td>
                <td>{{a.qqName||'-'}}</td>
                <td>{{a.weixinName||'-'}}</td>
                <td>{{a.mailAddress||'-'}}</td>
                <td><a href="#/user/{{a.id}}/scores">{{a.totalScore||'0'}}</a></td>
                <td>{{a.totalPoint||'-'}}</td>
                <td class="am-hide-sm-only">{{a.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="am-hide-sm-only">{{a.userInvite.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{a.inviteNum}}</td>
                <td>{{a.areaNum}}</td>
                <td>{{states[a.state||1]}}</td>
                <td>
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary" ui-sref="userDetail({id:a.id})" ng-if="adminPermissions.indexOf('user:w') != -1 || admin.isRoot">
                                <span class="am-icon-pencil-square-o"></span> 编辑
                            </a>
                            <button ng-if="a.state!==-1" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" ng-click="deleteParter(a)" ng-if="adminPermissions.indexOf('parter:r') != -1 || admin.isRoot">
                                <span class="am-icon-trash-o"></span> 取消合伙人
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <div class="am-fl">

            </div>
            <div class="am-fr">
                <ng-pager page-change="getPage(page)" page-data="data" items="11"></ng-pager>
            </div>
        </div>
    </div>
</div>

