<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">数控课堂</strong> /
        <small>课堂购买历史</small>
    </div>
</div>

<div class="am-g" ng-controller="volumeBuyListCtrl">
    <div class="am-u-sm-12 am-u-md-4">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-8">

        <div class="am-form am-text-right">
            <label for="vodTagSelect">购买类型:</label>
            <select id="vodTagSelect" style="width: 20%; display: inline-block;" ng-model="params.buyType">
                <option value="0">不限</option>
                <option value="1">牛人币购买</option>
                <option value="2">现金购买</option>
                <option value="3">邀请卡购买</option>
            </select>
            <input type="text" style="width: auto; display: inline-block;" ng-model="searchKey" ng-keypress="onSearchKeyPress($event)" placeholder="输入视频名搜索">
            <button class="am-btn am-btn-default" type="button" ng-click="doSearch()">搜索</button>
        </div>
    </div>

    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
                <th>视频</th>
                <th>用户</th>
                <th>购买类型</th>
                <th>花费</th>
                <th>购买时间</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="a in data.content">
                <td class="am-hide-sm-only">《{{a.volumeName || '该视频集已删除'}}》</td>
                <td class="am-hide-sm-only">{{a.userName}}</td>
                <td class="am-hide-sm-only">{{buytype[a.type]}}</td>
                <td class="am-hide-sm-only">{{a.costScore || '-'}}</td>
                <td class="am-hide-sm-only">{{a.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="am-hide-sm-only">{{a.remark}}</td>
            </tr>
            </tbody>
        </table>
        <div>
            <div class="am-fl">

            </div>
            <div class="am-fr">
                <ng-pager page-change="getPage(page)" page-data="data" items="11"></ng-pager>
            </div>
        </div>
    </div>
</div>