<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">公众号管理</strong> /
        <small>公众号列表</small>
    </div>
</div>

<style type="text/css">
    .wx-item {
        border: 1px solid #e8e8e8;
        padding: 10px;
    }

    .wx-item.unauthorizered {
        background: lightgrey;
    }

    .wx-item .wx-icon {
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        padding: 2px;
        max-height: 120px;
        min-height: 100px;
    }

    .wx-item div span {
        color: #86B223;
        margin-right: 25px;
    }
</style>


<div class="am-g" ng-controller="wxGzhCtrl">
    <div class="am-u-sm-12">
        <div class="am-g am-padding">
            <div class="am-u-md-12 wx-item" ng-repeat="t in data.content" ng-class="{unauthorizered: !t.authorizered}">
                <div class="am-u-sm-12 am-u-md-2 am-text-center">
                    <img ng-src="{{t.icon}}" class="wx-icon">
                </div>
                <div class="am-u-sm-12 am-u-md-10">
                    名称：<span>{{t.name}}</span>
                    公众号：<span>{{t.alias}}</span>
                    原始帐号：<span>{{t.userName}}</span><br>
                    AppId：<span>{{t.appid}}</span>
                    AccessToken过期时间：<span>{{t.authorizerAccessTokenExpiredTime | date:'yyyy-MM-dd HH:mm:ss'}}</span><br>
                    授权：<span>{{t.authorizered ? '是' : '否'}}</span>
                    授权时间：<span>{{t.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    服务类型：<span>{{serviceType[t.serviceType] || '未知'}}</span>
                    认证状态：<span>{{verifyType[t.verifyType] || '未认证'}}</span><br>
                    授权项目：<span ng-repeat="f in t.permissionSet.split(',')">{{funcs[f] || ''}}</span>
                    <a target="_blank"
                       href="https://open.weixin.qq.com/cgi-bin/showdocument?action=dir_list&t=resource/res_list&verify=1&id=open1419318459&lang=zh_CN">[权限介绍]</a><br>
                    门店：<span>{{t.openStore ? '是' : '否'}}</span>
                    扫商品：<span>{{t.openScan ? '是' : '否'}}</span>
                    支付：<span>{{t.openPay ? '是' : '否'}}</span>
                    卡券：<span>{{t.openCard ? '是' : '否'}}</span>
                    摇一摇：<span>{{t.openShake ? '是' : '否'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12">
        <div class="am-fl">

        </div>
        <div class="am-fr">
            <ng-pager page-change="getPage(page)" page-data="data" items="11"></ng-pager>
        </div>
    </div>
</div>