ul.ztree {
    margin-top: 10px;
    border: 1px solid #caebfb;
    background: #f8f8f8;
    height: 520px;
    overflow-y: scroll;
    overflow-x: auto;
}
.ossItem {
    cursor: move;
}
div.drop{
    padding: 5px;
    border: 1px solid #CCCCCC;
    position: absolute;
    background: #e8e8e8;
}